{% extends "base.html" %}

{% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">About
    <!-- <small>Biohacker</small> -->
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">About</li>
  </ol>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/about.jpg')}}" alt="">
    </div>
    <div class="col-lg-6">
      <h2>About us</h2>
      <p>
        Your life as a scientific researcher should be a curiosity-filled adventure into the understanding of nature.
        But if you are like most, intense pressure to produce more results for the publications. Squeezing the life out
        of you.
      </p>
      <p>
        This squeeze, and overwhelming stress you feel in the lab. Biohack is here to help you. We are helping
        researchers like you. We can not make you free from your stress and pushing for results, but we can make your
        life little easier.
      </p>
      <p>
        We do this because science conducted in joy is better for you, it’s better for science and it’s better for the
        world you serve as a scientist.
      </p>

      <!-- Science is an artform that needs freedom to breathe. Just like Picasso or Beethoven could never have hoped to produce
      brilliance merely by pushing harder to meet an arbitrary quota, no scientist can produce excellence in an environment
      or mindset of overarching pressure.
      
      That’s why you need support. To enable you to retain the focus, the skill and the headspace required to create great
      science, regardless of the maelstrom around you.
      
      Bitesize Bio does this like the best mentor there is; By sharing with you personal experience, advice, tools and wisdom
      from those who have already discovered how to get useful results more easily at the bench, how to stay organized and
      focused and free from pressure and how to enjoy life in the lab and beyond, while doing great science.
      
      This experience we bring you comes not just from one mentor but from hundreds of mentors based in labs around the
      world.
      
      That’s hundreds of the world’s brightest brains working to bring you the best tools and advice to transform your experiences and results in the lab.   
      It’s an army of mentors working to help you become a wiser, more successful, and happier researcher. -->

    </div>
  </div>
  <!-- /.row -->

  <!-- Team Members -->
  <h2>Our Team</h2>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="{{ url_for('static', filename='img/img_avatar2.png')}}" alt="">
        <div class="card-body">
          <h4 class="card-title">Joconan</h4>
          <h6 class="card-subtitle mb-2 text-muted">Team Leader</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum
            ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">partrita@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="{{ url_for('static', filename='img/img_avatar1.png')}}" alt="">
        <div class="card-body">
          <h4 class="card-title">Deepthought</h4>
          <h6 class="card-subtitle mb-2 text-muted">Builder</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum
            ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">deepthought@postech.ac.kr</a>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="{{ url_for('static', filename='about2.jpg')}}" alt="">
        <div class="card-body">
          <h4 class="card-title">Team Member</h4>
          <h6 class="card-subtitle mb-2 text-muted">Position</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum
            ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">name@example.com</a>
        </div>
      </div>
    </div> -->
  </div>
  <!-- /.row -->

  <!-- Our Customers -->
  <hr class="mb-4">
  <h2>Not Our Customers</h2>
  <div class="row">
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="{{url_for('static', filename='img/logo_bd.jpg')}}" alt="bd">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="{{url_for('static', filename='img/logo_qiagen.jpg')}}" alt="qiagen">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="{{url_for('static', filename='img/logo_genscript.jpg')}}" alt="genscript">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="{{url_for('static', filename='img/logo_neb.png')}}" alt="neb">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="{{url_for('static', filename='img/logo_takara.png')}}" alt="takara">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="{{url_for('static', filename='img/logo_thermo.jpg')}}" alt="thermo">
    </div>
  </div>
  Actually, we are the customers of them.
  <!-- /.row -->
  <hr class="mb-4">

</div>
<!-- /.container -->

{% endblock %}