{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>About</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p> 뭐라도 설명하는 문구를 집어넣어야 한다.</p>
    <img class="img-fluid" src="./static/elevate-755051-unsplash.jpg" alt="Chania">
    <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
</div>

{% endblock %}