{% extends "base.html" %}

{% block content %}
<h2> Conversion: molar concentration</h2>

This program helps you to convert the weight (weight concentration) in the molar quantity (molar concentration) and
vice versa.

<form method=post action="">
    {{form.csrf_token}}
    {{ form.molecular_weight(class="form-group") }} kDa </br>
    <div class="form-inline mb-2">
        {{ form.mass(class="mr-sm-2") }} {{ form.mass_unit(class="mr-sm-2") }} </br>
        {{ form.volume(class="mr-sm-2") }} {{ form.volume_unit(class="mr-sm-2") }} </br>
        {{ form.submit(class="btn btn-primary mr-sm-2") }}
    </div>
    <!-- <input type=submit value=calculate> -->
</form>

<h3> Results: </h3>

{% if result != None %}
{{result}} [mM]
{% endif %}

{% endblock %}